/* Middle */
@media screen and (max-width: 1100px) {
    /* Footer  */
    .player {
        width: 350px;
    }    
}
/* Small  */
@media screen and (max-width: 700px){




    /* Footer  */
    footer .hf{
        flex-direction: column;
        
    }
    footer .heart {
        margin-right: 0;
    }
    footer > div:first-of-type {
        width: 160px;
            
    }
    .player {
        width: 250px;
    }    



}
/* Extra small  */
@media screen and (max-width: 600px){
    /* SIDEBAR  */
    .sidebar {
        width: 75px;
    }
    header {
        width: calc(100% - 75px);
        left: 75px;
    }
    .container {
        width: calc(100% - 75px);

    }
    .sidebar .to-none {
        display: none;
    }

    .sidebar .none {
        display: flex;
    }

    a, .logo  {
        padding: 0;
    }
    .home-l::before{
        content: "";
        border:none;
    }
    /* fine sidebar  */
    /* Footer  */
    footer > div:first-of-type {
        width: 130px;
            
    }
    .player {
        width: 200px;
    }    
}
/* heigt  */
@media screen and (max-height:443px) {

    .top-side {

        min-height: 300px;
    
    }
    
}