/* Middle */
@media screen and (max-width: 1100px) {
    /* Footer  */
    .player {
        width: 350px;
    }
    /* Container  */
    h1 {
        font-size: 3.5rem;
    }
    .container-head ul {
        flex-wrap: wrap;
    }
    .set {
        flex-wrap: wrap;
        justify-content: left;

    }

    .song {
        width: calc(100vw / 5 - 40px);
        margin-right: 1vw;
    
    }
    .album {
        width: calc(100vw / 5 - 40px);
        height: calc(100vw / 5 - 40px);;      
    }
    .popular {
        width: 100%;

    }

}
/* Small  */
@media screen and (max-width: 700px){




    /* Footer  */
    footer .hf{
        flex-direction: column;
        
    }
    footer .heart {
        margin-right: 0;
    }
    footer > div:first-of-type {
        width: 160px;
            
    }
    .player {
        width: 250px;
    }    
    footer > div:last-of-type {
        width: 150px;
    }

    .song {
        width: calc(100vw / 3 - 70px);
        margin-right: 1.5vw; 
    
    }
    .album {
        height: calc(100vw / 3 - 70px);
        width: calc(100vw / 3 - 70px);
         
    }



}
/* Extra small  */
@media screen and (max-width: 600px){
    /* SIDEBAR  */
    .sidebar {
        width: 55px;
    }
    header {
        width: calc(100% - 55px);
        left: 55px;
    }
    .container {
        width: calc(100% - 55px);

    }
    .sidebar .to-none {
        display: none;
    }

    .sidebar .none {
        display: flex;
    }

    a, .logo  {
        padding: 0;
    }
    .home-l::before{
        content: "";
        border:none;
    }
    /* fine sidebar  */
    .container {
        padding: 100px 5px 5px 5px;
    }
    /* Footer  */
    footer > div:first-of-type {
        width: 130px;
            
    }
    .player {
        width: 200px;
    }    
    footer > div:last-of-type {
        width: 120px;
    }

    .song {
        width: calc(100vw / 2.6);
        margin-right: 1vw; 
    
    }
    .album {
        width: calc(100vw / 2.6);
        height: calc(100vw / 2.6);
         
    }

}
/* Ultra small  */
@media screen and (max-width: 500px) {

    html {
        font-size: 85%;
    }
    .sidebar {
        display: none;
    }
    header {
        width: 100%;
        left: 0;
    }
    .container {
        width: 100%;

    }
    .song {
        width: calc(100vw / 2.3);
        margin-right: 0; 
    
    }
    .set {
        justify-content: space-evenly;
    }
    

    footer .hf {
        display: none;
    }
    footer i {
        transform: scale(0.7);
    }
    footer .player div {
        margin-right: 0.1rem;
        margin-left: 0.1rem;

    }
}
/* heigt  */
@media screen and (max-height:443px) {

    .top-side {

        min-height: 300px;
    
    }
    
}